/* =============
   about
============= */
#about{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". about ." ;
    
    @include md{
        grid-template-columns: 12% auto 12%;
    }
@include xxl{
    grid-template-columns: auto 1440px auto;
}
    >div{
        grid-area: about ;
        

        @include lg{
            display: grid;
            grid-template-columns: 50% auto;
            // gap: 136px;
        }
        aside{
            margin-bottom: 24px;

            @include md{
                margin-bottom: 0;
            }
            
            #about-img-container{
                border-radius: 100%;
                border: 1px red;
                overflow: hidden;
                #about-bg-img{
                    background-image: url("img/about/about-left.jpg");
                    background-position: center bottom;
                    width: 340px;
                    height: 340px;
                }
            }
            
        }
        section{
            padding-left: 136px;
            @include md{
                display: flex;
                align-items: center;
            }
            h1{
                margin-bottom:16px ;
    
                @include lg{
                    margin-bottom: 24px;
                }
            }
        }
        
    }
}